@import "variables";
@import "mixins";

.brands_content {
  margin-top: 1.5rem;
  width: 100%;
  height: 560px;
  background-color: $white;

  .header_services {
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;

    .border {
      border-bottom: 4px solid $primary;
      width: 60px;
    }
  }

  .services_content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;

    .card_more_service {
      display: flex;
      justify-content: center;
      div {
        padding: .75rem;
        width: 60%;
        cursor: pointer;
      }

    }
  }
}
