<div class="social">
  <div class="left">
    <div class="content">
      izquierda
    </div>

  </div>
  <div class="right">
    <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-instagram" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-youtube" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-linkedin" class="p-button-rounded p-button-text"></button>
  </div>
</div>
<div class="contact">
  <div class="logo">
    <img src="../../../../../../assets/img/logo.png" alt="The Texas Garage door" />
  </div>
</div>
<div class="menu">
  menu
</div>
<div class="carousel">
  carrusel
</div>
